.footer {
  color: white;
  background-color: black;
  height: 10vh;
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  .footer-item {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
  }

  .about-author {
    p {
      margin-bottom: 2%;
    }

    .author-links {
      font-size: x-large;
    }
  }

  .about-app {
    justify-content: center;
    align-items: flex-end;
  }
}

a, a:active, a:hover, a:visited {
  margin-right: 5%;
  color: white
}
