.header {
  color: white;
  background-color: black;
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .header-item {
    height: 60%;
    width: 16.6%;
    margin: 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &:first-child {
      margin-right: auto;
    }

    img {
      width: 100%;
      height: auto;
    }

    p {
      text-align: right;
      font-size: 1.6vw;
      font-weight: bold;
    }
  }
}
